#
#   Primary gitignores
#

# Virtual environments
env/*

# Python Related
*.pyc
*__pycache__*

# Temp Files
*~

# PyCharm
.idea/*

# Sqlite
*.sqlite3

# dotenv Files
.env

# Static/Media
douglasdaly/static/
douglasdaly/media/
