beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.9.18
botocore==1.12.18
Click==7.0
Django==2.1.2
django-admin-sortable==2.1.8
django-appconf==1.0.2
django-debug-toolbar==1.10.1
django-htmlmin==0.10.0
django-parler==1.9.2
django-polymorphic==2.0.3
django-ratelimit==1.1.0
-e git+https://github.com/jazzband/django-robots.git@f484c2a6abcae6244f860ad077af28d4be62037e#egg=django_robots
django-storages==1.7.1
docutils==0.14
gunicorn==19.9.0
html5lib==1.0.1
jmespath==0.9.3
mistune==0.8.3
Pillow==5.3.0
psycopg2==2.7.5
pur==5.0.0
Pygments==2.2.0
python-dateutil==2.7.3
python-dotenv==0.9.1
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
sorl-thumbnail==12.5.0
sqlparse==0.2.4
urllib3==1.23
webencodings==0.5.1
