{% extends 'base.html' %}

{% load static %}
{% load sidebar_tags %}

{% block additional_header %}
{% with code_style='blog/css/'|add:blog_settings.code_style_sheet|add:'.css' %}
  <link rel="stylesheet" type="text/css" href="{% static code_style %}" />
{% endwith %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog_base.css' %}" />
{% endblock %}

{% csrf_token %}

{% block content %}

<div class="container">
  <div class="row">

    <!-- Blog Nav Area -->
    <div class="col-md-3">

      <!-- Larger Screen Nav Content -->
      <div class="d-none d-md-block">
	
        <!-- Search Bar -->
	<div class="input-group">
          <input type="search" class="form-control ds-input mb-2" id="search-input" placeholder="Search..." autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top;" aria-describedby="basic-addon2">
	  <div class="input-group-append">
	    <a href="#" id="blog-search-submit"><button class="btn btn-outline-secondary" type="button" onclick="blog_search();"><i class="fa fa-search fa-fw"></i></button></a>
	  </div>
	</div>
	
        <!-- Sort Nav By -->
        <ul class="nav nav-pills nav-fill justify-content-center sidebar-pills mb-2" id="pills-tab" role="tab-list">
	  <li class="nav-item">
	    <a href="#sort-date" onclick="update_sort_tab('date')" class="nav-link{% if sort_tab == 'date' %} active{% endif %}" id="blog-sort-date" data-toggle="pill" role="tab" aria-controls="sort-date" aria-selected="true">Date</a>
	  </li>
	  <li class="nav-item">
	    <a href="#sort-category" onclick="update_sort_tab('category')" class="nav-link{% if sort_tab == 'category' %} active{% endif %}" id="blog-sort-category" data-toggle="pill" role="tab" aria-controls="sort-category" aria-selected="false">Category</a>
	  </li>
	  <li class="nav-item">
	    <a href="#sort-tag" onclick="update_sort_tab('tag')" class="nav-link{% if sort_tab == 'tag' %} active{% endif %}" id="blog-menu-tag" data-toggle="pill" role="tab" aria-controls="sort-tag" aria-selected="false">Tag</a>
	  </li>
        </ul>

        <!-- Nav Menu -->
        <div class="tab-content mb-2" id="pills-tabContent">
	  <div class="tab-pane fade{% if sort_tab == 'date' %} show active{% endif %}" id="sort-date" role="tabpanel" aria-labelledby="sort-date">
	    {% sidebar_menu 'date' %}
	  </div>

	  <div class="tab-pane fade{% if sort_tab == 'category' %} show active{% endif %}" id="sort-category" role="tabpanel" aria-labelledby="sort-category">
	    {% sidebar_menu 'category' %}
	  </div>

	  <div class="tab-pane fade{% if sort_tab == 'tag' %} show active{% endif %}" id="sort-tag" role="tabpanel" aria-labelledby="sort-tag">
	    {% sidebar_menu 'tag' %}
	  </div>

	</div>
	
      </div>

      <!-- Small Screen Nav Content -->
      <div class="d-block d-md-none">
	
        <ul class="nav nav-pills nav-fill mb-2">
	  <li class="nav-item m-1">
	    <a class="nav-link btn btn-primary" href="/blog/">Blog Home</a>
	  </li>
	  <li class="nav-item m-1">
	    <a class="nav-link btn btn-primary" href="/blog/categories.html">Categories</a>
	  </li>
	  <li class="nav-item m-1">
	    <a class="nav-link btn btn-primary" href="/blog/tags.html">Tags</a>
	  </li>
        </ul>

      </div>
      
    </div>
    
    <!-- Content -->
    <div class="col-sm-9">
      {% block blog_content %}{% endblock %}
    </div>
    
  </div>
</div>

{% endblock %}

{% block additional_tail_js %}<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'blog/js/blog_base.js' %}"></script>{% endblock %}

