{% extends 'blog/base_listing.html' %}

{% load page_tags %}
{% load post_tags %}

{% block meta_extra %}{% meta_head 'Blog Categories' %}{% endblock %}
{% block listing_title %}Categories{% endblock %}

{% block blog_content_body %}

  {% if categories %}
    <ul>
      {% for category in categories %}
      <li>
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% block blog_content_none %}There are no categories.{% endblock %}</p>
  {% endif %}

{% endblock %}
