{% extends 'blog/base.html' %}

{% load markdownify %}
{% load page_tags %}

{% block meta_extra %}{% meta_head post.title %}{% endblock %}

{% block blog_content %}
<h4><b>{{ post.title }}</b></h4>
<p><i>{{ post.description }}</i></p>
<p><b>Category: </b><a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></p>

{{ post.body | markdown | safe }}

{% if post.tags %}
<b>Tags: </b>
<ul class="list-inline">
  {% for tag in post.tags.all %}
  <li class="list-inline-item"><i><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></i></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
