{% extends 'blog/base.html' %}

{% load markdownify %}
{% load page_tags %}
{% load post_tags %}

{% block meta_extra %}{% meta_head post.title post.description %}{% endblock %}
{% if post.search_terms %}
  {% block keywords %}{% meta_keywords post.search_terms %}{% endblock %}
{% endif %}

{% block additional_styles %}
  {{ block.super }}
  {% if post.css_includes %}
    {% for css_inc in post.css_includes.all %}
    <link rel="stylesheet" type="text/css" href="{{ css_inc.file.url }}">
    {% endfor %}
  {% endif %}
{% endblock %}

{% block additional_scripts %}
{% if post.javascript_includes %}
  {% for js_inc in post.javascript_includes.all %}
  <script type="text/javascript" src="{{ js_inc.file.url }}"></script>
  {% endfor %}
{% endif %}
{% endblock %}

{% block blog_content %}
<div class="blog-content">
  <h1 class="border-bottom border-light pb-1">
    <b>{{ post.title }}</b>
  </h1>

  <p class="my-2">
    <i>
      {{ post.description }}
    </i>
  </p>

  <table class="ml-2 mb-2">
    {% if blog_settings.show_authors and post.author %}
    <tr valign="middle">
      <td>
        <strong>Author:</strong>
      </td>
      <td class="pl-3">
        <a href="{{ post.author.get_absolute_url }}" title="View Author Page">{{ post.author.get_display_name }}</a>
      </td>
    </tr>
    {% endif %}
    <tr valign="middle">
      {% if post.publish_date %}
      <td class="text-muted">
        <strong>Published:</strong>
      </td>
      <td class="pl-3">
        <i>{{ post.publish_date|date:"l, F d, Y" }}</i>
      </td>
      {% else %}
      <td class="text-muted">
        <strong>Last Updated:</strong>
      </td>
      <td class="pl-3">
        <i>{{ post.last_updated|date:"l, F d, Y" }}</i>
      </td>
      {% endif %}
    </tr>
    <tr valign="middle">
      <td class="text-muted">
        <strong>Category:</strong>
      </td>
      <td class="pl-3">
        {% if post.category.color %}
        <a class="badge align-left{% if post.category.font_class %} {{ post.category.font_class }}{% endif %}" href="{{ post.category.get_absolute_url }}" style="background-color: {{ post.category.color }}; font-size: 1.0em;" title="View Category">
          {{ post.category.name }}
        </a>
        {% else %}
        <a class="badge badge-primary align-left{% if post.category.font_class %} {{ post.category.font_class }}{% endif %}" href="{{ post.category.get_absolute_url }}" style="font-size: 1.0em;" title="View Category">
          {{ post.category.name }}
        </a>
        {% endif %}
      </td>
    </tr>
    {% if post.tags %}
    <tr valign="middle">
      <td class="text-muted">
        <strong>Tags:</strong>
      </td>
      <td class="pl-3">
        <ul class="list-inline my-auto">
          {% for tag in post.tags.all %}
            <li class="list-inline-item">
              {% if tag.color %}
                {% if tag.font_class %}
                  <a class="badge badge-pill {{ tag.font_class }}" href="{{ tag.get_absolute_url }}" style="background-color: {{ tag.color }}; font-size: 0.75em;">{{ tag.name }}</a>
                {% else %}
                  <a class="badge badge-pill" href="{{ tag.get_absolute_url }}" style="background-color: {{ tag.color }}; font-size: 0.75em;">{{ tag.name }}</a>
                {% endif %}
              {% else %}
                <a class="badge badge-pill badge-primary" href="{{ tag.get_absolute_url }}" style="font-size: 0.75em;">{{ tag.name }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
  </table>

  <div class="blog-content-body border-top border-light">
    <div class="mt-2">
      {{ post.body | markdown | safe }}
    </div>
  </div>
</div>
{% endblock %}

{% block additional_tail_js %}
{{ block.super }}
{% if post.custom_javascript %}<script type="text/javascript" src="{{ post.custom_javascript.url }}"></script>{% endif %}
{% endblock %}
