{% load static %}
{% load page_tags %}

<html>
  <head>
    <!-- Basics
    ----------------------------------------------------------------------- -->
    <meta charset="utf-8">
    <title>{% block head_title %}Douglas Daly{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Doug Daly">

    <!-- Mobile Specific
    ----------------------------------------------------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ----------------------------------------------------------------------- -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">

    <!-- Scripts
    ----------------------------------------------------------------------- -->


    <!-- Favicon
    ----------------------------------------------------------------------- -->


    <!-- Additional Headers
    ----------------------------------------------------------------------- -->
    {% block additional_header %}{% endblock %}

  </head>

  <body>
    <div class="container">
      <div class="three columns">
        <h2>Douglas Daly</h2>
        <p><b>Navigation:</b></p>
        {% page_links %}
      </div>
      <div class="nine columns">
        <h2>{% block title %}Welcome to my block{% endblock %}</h2>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>

</html>
