{% load static %}
{% load page_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basics
    ----------------------------------------------------------------------- -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta_extra %}{% meta_head %}{% endblock %}
    {% block keywords %}{% meta_keywords %}{% endblock %}

    <!-- Mobile Specific
    ----------------------------------------------------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
    ----------------------------------------------------------------------- -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block additional_styles %}{% endblock %}

    <!-- Scripts
    ----------------------------------------------------------------------- -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script defer src="{% static 'js/assets.js' %}"></script>
    {% block additional_scripts %}{% endblock %}

    <!-- Favicon
    ----------------------------------------------------------------------- -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Additional Headers
    ----------------------------------------------------------------------- -->
    {% block additional_header %}{% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/index.html">Douglas Daly</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
	  {% page_links %}
	</ul>
	<ul class="navbar-nav ml-md-auto d-none d-md-flex">
	  {% social_links %}
	</ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main><!-- /.container -->

    <!-- Footer Navbar
      ------------------------------------------------------------------------ -->
    <footer class="bd-footer" style="margin: 0px; padding: 0px;">
      <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-8">
	    <ul class="list-inline">
	      <li class="list-inline-item"><a href="/index.html" class="small text-muted">Home</a></li>
	      {% footer_page_links %}
	    </ul>
	  </div>
	  <div class="col-sm-4 text-right">
	    <ul class="list-inline">
	      {% footer_social_links %}
	    </ul>
	  </div>
	</div>
        <div class="row">
          <div class="col-sm-8">
            <span class="small text-muted">
                &copy; 2017-{% now "Y" %} Douglas Daly.  All rights reserved.
            </span>
          </div>
          <div class="col-sm-4 text-right">
              <span class="small text-muted">
                  <a href="https://github.com/douglasdaly/douglasdaly.git" target="_blank">View my source on Github!</a>
              </span>
          </div>
        </div>
    </footer>
    
    <!-- Bootstrap core JavaScript code
      ---------------------------------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block additional_tail_js %}{% endblock %}
  </body>

</html>
