{% load static %}
{% load page_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basics
    ----------------------------------------------------------------------- -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta_extra %}{% meta_head %}{% endblock %}
    {% block keywords %}{% meta_keywords %}{% endblock %}

    <!-- Mobile Specific
    ----------------------------------------------------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
    ----------------------------------------------------------------------- -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block additional_styles %}{% endblock %}

    <!-- Scripts
    ----------------------------------------------------------------------- -->
    <script type="text/javascript" src="{% static 'js/setup.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>
    <script defer type="text/javascript" src="{% static 'assets/js/assets.js' %}"></script>
    {% block additional_scripts %}{% endblock %}

    <!-- Favicon
    ----------------------------------------------------------------------- -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Additional Headers
    ----------------------------------------------------------------------- -->
    {% block additional_header %}{% endblock %}

  </head>

  <body>
    <!-- Header Navbar
    ----------------------------------------------------------------------- -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/index.html">
        Douglas Daly
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
          {% page_links %}
        </ul>
        <ul class="navbar-nav ml-md-auto">
          {% social_links %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main><!-- /.container -->

    <!-- Footer Navbar
    ----------------------------------------------------------------------- -->
    <div class="row m-1 d-block d-sm-none">
      <div class="col"><br/></div>
    </div>

    <footer class="bd-footer m-0 p-0">
      <div class="container-fluid">
        <div class="row mt-1">
          <div class="col-sm-8">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/index.html" class="small text-muted">Home</a></li>
              {% footer_page_links %}
            </ul>
          </div>
          <div class="col-sm-4 text-right">
            <ul class="list-inline">
              {% footer_social_links %}
            </ul>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-sm-8">
            <span class="small text-muted">
                &copy; 2017-{% now "Y" %} Douglas Daly.  All rights reserved.
            </span>
          </div>
          <div class="d-none d-sm-block col-sm-4 text-right">
            <span class="small text-muted">
                <a href="https://github.com/douglasdaly/douglasdaly.git" target="_blank">View my source on Github!</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Bootstrap core JavaScript code
      ---------------------------------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block additional_tail_js %}{% endblock %}
  </body>

</html>
