{% extends 'base.html' %}

{% load static %}
{% load page_tags %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<div class="home-template">

  <!-- Main Jumbotron Content -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row justify-content-md-center">
        <img src="{% static 'images/dd_home.jpg' %}" alt="Douglas Daly">
      </div>
      <div class="row justify-content-md-center">
        <h1 class="display-4">Douglas Daly</h1>
      </div>
      <div class="row justify-content-md-center">
        <p class="lead">Financial professional, programmer and data-enthusiast based out of New York City.</p>
      </div>
      <div class="row justify-content-md-center">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about.html" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Recent blog post cards -->
  
  
</div>

{% endblock %}
