{% extends 'base.html' %}

{% load page_tags %}
{% load static %}
{% load markdownify %}

{% block meta_extra %}{% meta_head page.title %}{% endblock %}
{% block keywords %}{% meta_keywords page.keywords %}{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
{% if custom_css_file %}      
<link rel="stylesheet" type="text/css" href="{{ custom_css_file.url }}">
{% endif %}
{% endblock %}

{% block content %}
<div class="page-template">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {{ page.content|markdown|safe }}
  </div>
</div>
{% endblock %}
