<div id="accordion" role="tablist">
  {% for heading, posts in sidemenu_dict %}
  <div class="card border-primary m-1 p-0">
    {% if sidemenu_heading_objects %}
    <div class="card-header" role="tab" id="header-{{ sidemenu_sort }}-{{ heading.slug }}">
      <div class="mb-0" style="font-size: 0.9em;{% if heading.name|length <= 3 %} text-align: center;{% endif %}">
        <a data-toggle="collapse" href="#{{ sidemenu_sort }}-{{ heading.slug }}" role="button" aria-expanded="false" aria-controls="{{ sidemenu_sort }}-{{ heading.slug }}">
          {{ heading.name }}
        </a>
      </div>
    </div>
    <div id="{{ sidemenu_sort }}-{{ heading.slug }}" class="collapse" role="tabpanel" aria-labelledby="header-{{ sidemenu_sort }}-{{ heading.slug }}" data-parent="#accordion">
    {% else %}
    <div class="card-header" role="tab" id="header-{{ sidemenu_sort }}-{{ heading.slug }}">
      <div class="mb-0" style="font-size: 0.9em;{% if heading|length <= 3 %}text-align: center;{% endif %}">
        <a data-toggle="collapse" href="#{{ sidemenu_sort }}-{{ heading }}" role="button" aria-expanded="false" aria-controls="{{ sidemenu_sort }}-{{ heading }}">
          {{ heading }}
        </a>
      </div>
    </div>

    <div id="{{ sidemenu_sort }}-{{ heading }}" class="collapse" role="tabpanel" aria-labelledby="header-{{ sidemenu_sort }}-{{ heading }}" data-parent="#accordion">
    {% endif %}
      <div class="card-body p-0 m-2">
	      <ul class="nav flex-column sidebar-submenu-links">
        {% for post_title, post_link in posts %}
	        <li class="nav-item p-1 ml-1">
            <a href="{{ post_link }}" style="font-size: 0.85em;">{{ post_title }}</a>
	        </li>
	      {% endfor %}
	      </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
