{% if settings %}
  {% if page_subtitle %}
  <title>{{ page_subtitle }} &middot; {{ settings.title }}</title>
  {% else %}
  <title>{{ settings.title }}</title>
  {% endif %}

  {% if not page_description %}
    {% if settings.meta_description %}
    <meta name="description" content="{{ settings.meta_description }}">
    {% endif %}
  {% else %}
  <meta name="description" content="{{ page_description }}">
  {% endif %}

  {% if settings.meta_author %}
  <meta name="author" content="{{ settings.meta_author }}">
  {% endif %}

  {% if settings.google_analytics_key %}
    <!-- Global site tag (gtag.js) - Google Analytics --------------------- -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.google_analytics_key }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ settings.google_analytics_key }}');
    </script>
  {% endif %}

{% else %}
<title>{% block head_title %}{% endblock %}</title>
{% endif %}
