<div>
  <textarea name="{{ widget.name }}" style="display: none;"{% include "django/forms/widgets/attrs.html" %}>
  {% if widget.value %}{{ widget.value }}{% endif %}</textarea>

  {{ add_list_widget_rendered }}

  <span style="margin-left: 10px;">
    {{ add_field_widget_rendered }}
  </span>
  {% if can_add %}
    <span style="margin-left: 10px;">
      <a href="#" onclick="{% if add_function %}{{ add_function }}{% else %}arsAddValue{% endif %}('{{ widget.name }}', {% if add_tags %}{{ add_tags }}{% else %}{}{% endif %})">Add</a>
    </span>
  {% endif %}
  {% if can_remove and not is_hidden %}
    <span style="margin-left: 10px;">
      <a href="#" onclick="{% if remove_function %}{{ remove_function }}{% else %}arsRemoveValue{% endif %}('{{ widget.name }}', {% if add_tags %}{{ add_tags }}{% else %}{}{% endif %})">Remove</a>
    </span>
  {% endif %}
</div>
