html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
}

body {
    padding-top: 65px;
    padding-bottom: 80px;
}

.bd-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.container p img {
  display: block;
  margin: auto auto;
}

.container p video {
  display: block;
  margin: auto;
}

.container img {
  height: auto;
  max-width: 100%;
}

.container blockquote {
  font-size: 18px;
  width: 90%;
  margin: 10px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 12px 20px 6px 40px;
  border-left: 6px solid #78C0A8 ;
  line-height: 1.2;
  position: relative;
  background: #EDEDED;
}

.container blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78C0A8;
  font-size: 3.6em;
  position: absolute;
  left: 0px;
  top: -6px;
}

.container blockquote::after {
  content: '';
}

.container blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
